<nav class="navbar navbar-expand navbar-light bg-white px-2">
<div class="side-nav-button p-2 me-3 text-light" (click)="sideBarNavToggle()">
  <i class="fa-solid fa-bars" style="color: black;"></i>
</div>
<a class="navbar-brand px-4 weight ">Heylink</a>
<div class="navbar-collapse">
<ul class="navbar-nav me-auto">
<li class="nav-item dropdown"></li>
</ul>
</div>
<form class="d-flex me-5">
<input type="date" class="form-control me-2">
</form>
<div class="profile-logo dropstart">
<button class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">
  Rohan
</button>
</div>
</nav>